# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt


# Ignore this shit
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.lck
diagramas/.DS_Store
*.bak_000f
*.bak_000d
*.bak_001f
*.bak_002d
*.bak_003d
*.bak_004d
*.bak_006d
*.bak_007d
*.bak_008d
*.bak_005d
*.bak_009d
/projeto/ConfiguraFacil/nbproject/private/
diagramas/UseCases/~$EscolherComponentePrimario.xlsx
*.bak_001d
/projeto/ConfiguraFacil/build/
*.bak_010d
*.bak_011d
*.bak_012d
*.bak_013d
*.bak_014d
